@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* Общий CSS */
* {
    margin: 0; 
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.parent-bag {
    position: absolute;
    width: 100vh;
    height: 100vh;

    background-color: #161C24;
    z-index: 1000;
}

@font-face {
    font-weight: 400;
    font-family: "San Francisco Pro Text";
    src: url(../fonts/SFProText-Regular.ttf);
}

@font-face {
    font-weight: 300;
    font-family: "San Francisco Pro Text";
    src: url(../fonts/SFProText-Light.ttf);
}

@font-face {
    font-weight: 600;
    font-family: "San Francisco Pro Text";
    src: url(../fonts/SFProText-SemiBold.ttf);
} 

@font-face {
    font-weight: 500;
    font-family: "San Francisco Pro Text";
    src: url(../fonts/SFProText-Medium.ttf);
}

.card-inner {

    gap: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 75%;
}



.card {
    width: 290px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: "San Francisco Pro Text";

    position: relative;
}

.card:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card-image {
    background-color: #f7f7f7;
    width: 100%;
    height: 320px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img{
    transition: 0.3s;
    width: 100%;
    margin: 0 auto;
}


.card-info {
    width: 100%;
    gap: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.card-title {
    font-size: 16px;
    font-weight: 400 !important;
    color: #454F5B;
    text-transform: uppercase;
}

.card-description {
    font-size: 14px;
    font-weight: 200;
    color: #555555;
}


.show_more {
    text-decoration: underline;
    opacity: 0;
    transition: 0.2s;
    padding-bottom: 15px;
}

.card:hover .show_more {
    opacity: 1;
}

.card:hover #card-image{
    transform: scale(1.1);
}


/* From Uiverse.io by satyamchaudharydev */ 
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.search {
  width: 225px;
  margin: 0 auto;
  padding-top: 20px;
}

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #4295E4;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
  box-shadow: 0px 0px 7px #4096ff;
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

.filter-inner {
  width: 290px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.catalog-content {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.filters {
  height: auto;
  min-height: 435px;
  width: 300;
  border: 1px solid #C4CDD5;
}


.filter {
  width: 225px;
  height: 45px;
  display: flex;
  align-items: center;

  gap: 14px;

  margin: 0 auto;

  font-family: "San Francisco Pro Text";
  font-size: 14px;
  font-weight: 400;
  color: #161C24;
}

.dilter label {
  cursor: pointer;
}


















/* From Uiverse.io by Galahhad */ 
/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}